@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&family=Edu+AU+VIC+WA+NT+Pre:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding:0;
    margin:0;
    font-family: "Bitter", serif;
    box-sizing: border-box;
}
body{
    background-color:#F5F5F7;
    overflow-x: hidden;
}
.main {
  width: 100%;
  margin: 0 auto;
  padding:2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading h1{
    font-size: 34px;
    font-weight: 900;
    margin-top: 1rem;
    padding-top: 2rem;
}
.heading>p>span{
  color: rgb(115 64 96 / var(--tw-text-opacity));
  font-size: 2.5rem;
  white-space: nowrap;
  font-family: "Edu AU VIC WA NT Pre", cursive;
  letter-spacing: 0;
  text-transform: lowercase;
}
.searcfBar{
  margin:1rem 0;
  width:360px;
  height:40px;
  border: none;
  outline: none;
  border-radius: 1rem;
  padding: .3rem 1rem;

}
.row{
  width:100vw;
}
.container {
  width: 100%; 
  margin: 25px auto;
  padding:25px 0px;
  display: flex; 
  justify-content: center;
  background-color: #EDDFE0;
}

.container-inner {
  width: 80%;
  display: grid; 
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  grid-gap: 2rem;
  background-color: rgb(242 242 242 / var(--tw-bg-opacity));
}
.card{
width:180px;
border-radius: 1rem;
background-color: #F5F5F7;
padding: 5px;
}
.card img{
  width:100%;
  border-radius: 1rem 1rem 0 0;
}
.card h3{
  font-size: 14px;
  color: black;
  text-align: center;
  padding-top: 5px;
}
.containerChoice{
  width: 80%;
  margin :25px auto;
  display: flex;
  gap:50px; 
  overflow-x: auto;
  padding-bottom: 10px;
  scroll-snap-type: x mandatory; 
}
.containerChoice::-webkit-scrollbar {
  height: 8px;
}

.containerChoice::-webkit-scrollbar-thumb {
  background-color: #888; 
  border-radius: 10px; 
}

.containerChoice::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

.containerChoice > * {
  scroll-snap-align: start; 
}
.choices {
  width: 100px;
  flex: 0 0 auto; 
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  scroll-snap-align: start;
}

.choices img {
  width: 100%;
  height: auto;
  border-radius: 50%; 
  object-fit: cover;
  margin-bottom: 1rem;
}
.desc_img{
  width:100%;
  position: fixed;
  aspect-ratio: 16/9;
}
.content{
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2% 10% -9% 10%;
}
.content img{
  width:100%;
height:600px;
}
.desc_iinner_content{
position: absolute;
top:45%;
left:50%;
transform: translate(-50%,-50%);
background: linear-gradient(to right, white, transparent);
padding: 20px;
color:black;
font-size: 1rem;
margin-bottom: 2px;
text-align: center;
box-shadow: 0px 15px 15px rgba(0,0,0,0.5);
}
.recipe_desc{
  width: 100%;
  margin: 2rem auto;
  padding: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #EDDFE0;
}
.incredients, .instruction{
  flex-basis: 50%;
  text-align: justify;
  border: 0 solid #e6e6e6;
  box-sizing: border-box;
  background-color: rgb(77 77 77 / var(--tw-bg-opacity));
}
.incredients h4{
  margin-top: 1.5rem;
  font-weight: bold;
}
.instruction h2{
  margin-bottom: 1rem;
}
.instruction p{
  font-size: 18px;
  line-height:21px ;
}
.recipeContainer{
  width:100vw;
}
